In [1]:
import numpy as np
import os
import pandas as pd
from io import StringIO
import io
import string
import random
import json
import pickle
import matplotlib.pyplot as plt
%matplotlib inline
# import seaborn as sns
from scipy import stats
# from scipy.stats import norm
# from google.colab import drive
import csv
from datetime import datetime

Filtering and Merging the TOURNAMENT data sets

In [2]:
tournaments1 = pd.read_csv('ATP data/match_scores_1991-2016_unindexed_csv.csv')

In [3]:
#Choosing only data for year 2016
filtered_t1 = tournaments1[tournaments1['tourney_year_id'].str.startswith('2016-')]

In [4]:
filtered_t1.head()

,tourney_year_id,tourney_order,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
91415,2016-339,1,brisbane,/en/scores/archive/brisbane/339/2016/results,Finals,1,1,Milos Raonic,r975,milos-raonic,...,1,64 64,2,0,12,8,0,0,2016-339-r975-f324,/en/scores/2016/339/MS001/match-stats
91416,2016-339,1,brisbane,/en/scores/archive/brisbane/339/2016/results,Semi-Finals,2,1,Roger Federer,f324,roger-federer,...,8,61 64,2,0,12,5,0,0,2016-339-f324-tb69,/en/scores/2016/339/MS002/match-stats
91417,2016-339,1,brisbane,/en/scores/archive/brisbane/339/2016/results,Semi-Finals,2,2,Milos Raonic,r975,milos-raonic,...,7,76(5) 76(5),2,0,14,12,2,0,2016-339-r975-ta46,/en/scores/2016/339/MS003/match-stats
91418,2016-339,1,brisbane,/en/scores/archive/brisbane/339/2016/results,Quarter-Finals,3,1,Roger Federer,f324,roger-federer,...,NaN,64 67(4) 64,2,1,18,15,0,1,2016-339-f324-d875,/en/scores/2016/339/MS004/match-stats
91419,2016-339,1,brisbane,/en/scores/archive/brisbane/339/2016/results,Quarter-Finals,3,2,Bernard Tomic,ta46,bernard-tomic,...,2,63 16 63,2,1,13,12,0,0,2016-339-ta46-n552,/en/scores/2016/339/MS007/match-stats

In [5]:
filtered_t1_rows = filtered_t1.shape[0]

In [6]:
print(f"The filtered ATP1 DataFrame has {filtered_t1_rows} rows.")

The filtered ATP1 DataFrame has 3944 rows.

In [7]:
tournaments2 = pd.read_csv('ATP data/match_scores_2017_unindexed_csv.csv')

In [8]:
t2_rows = tournaments2.shape[0]
print(f"The filtered ATP2 DataFrame has {t2_rows} rows.")

The filtered ATP2 DataFrame has 3830 rows.

In [9]:
#Joining two tables vertically
merged_tournaments = pd.concat([filtered_t1, tournaments2], ignore_index=True)
merged_tournaments.head()

,tourney_year_id,tourney_order,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
0,2016-339,1,brisbane,/en/scores/archive/brisbane/339/2016/results,Finals,1,1,Milos Raonic,r975,milos-raonic,...,1,64 64,2,0,12,8,0,0,2016-339-r975-f324,/en/scores/2016/339/MS001/match-stats
1,2016-339,1,brisbane,/en/scores/archive/brisbane/339/2016/results,Semi-Finals,2,1,Roger Federer,f324,roger-federer,...,8,61 64,2,0,12,5,0,0,2016-339-f324-tb69,/en/scores/2016/339/MS002/match-stats
2,2016-339,1,brisbane,/en/scores/archive/brisbane/339/2016/results,Semi-Finals,2,2,Milos Raonic,r975,milos-raonic,...,7,76(5) 76(5),2,0,14,12,2,0,2016-339-r975-ta46,/en/scores/2016/339/MS003/match-stats
3,2016-339,1,brisbane,/en/scores/archive/brisbane/339/2016/results,Quarter-Finals,3,1,Roger Federer,f324,roger-federer,...,NaN,64 67(4) 64,2,1,18,15,0,1,2016-339-f324-d875,/en/scores/2016/339/MS004/match-stats
4,2016-339,1,brisbane,/en/scores/archive/brisbane/339/2016/results,Quarter-Finals,3,2,Bernard Tomic,ta46,bernard-tomic,...,2,63 16 63,2,1,13,12,0,0,2016-339-ta46-n552,/en/scores/2016/339/MS007/match-stats

In [10]:
#verifying the merge, should be 3830 + 3944
tournament_rows = merged_tournaments.shape[0]
print(f"The filtered merged_ATP DataFrame has {tournament_rows} rows.")

The filtered merged_ATP DataFrame has 7774 rows.

Filtering and Merging the MATCH data sets

In [11]:
matches1 = pd.read_csv('ATP data/match_stats_2017_unindexed_csv.csv') #match_stats_2017_unindexed_csv
matches2 = pd.read_csv('ATP data/match_stats_1991-2016_unindexed_csv.csv')

In [12]:
#Choosing only data for year 2016
filtered_match2 = matches2[matches2['match_id'].str.startswith('2016-')]
filtered_match2.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
88033,0,2016-339-f324-tb69,/en/scores/2016/339/MS002/match-stats,01:01:00,61.0,6.0,0.0,27.0,49.0,23.0,...,10.0,22.0,1.0,1.0,8.0,9.0,14.0,49.0,41.0,104.0
88034,0,2016-339-r975-f324,/en/scores/2016/339/MS001/match-stats,01:27:00,87.0,6.0,6.0,34.0,60.0,28.0,...,12.0,26.0,0.0,1.0,10.0,10.0,18.0,60.0,57.0,121.0
88035,0,2016-339-f324-d875,/en/scores/2016/339/MS004/match-stats,02:08:00,128.0,7.0,1.0,52.0,83.0,45.0,...,12.0,31.0,1.0,1.0,16.0,16.0,19.0,83.0,86.0,187.0
88036,0,2016-339-r975-ta46,/en/scores/2016/339/MS003/match-stats,01:48:00,108.0,13.0,3.0,49.0,79.0,40.0,...,11.0,30.0,0.0,4.0,12.0,12.0,20.0,79.0,77.0,163.0
88037,0,2016-339-ta46-n552,/en/scores/2016/339/MS007/match-stats,02:00:00,120.0,14.0,1.0,62.0,97.0,45.0,...,22.0,35.0,3.0,11.0,12.0,13.0,39.0,97.0,89.0,181.0

In [13]:
#2016 and onwards rankings
# atp_rankings_for_EE = pd.read_csv('rankings_1973-2017.csv')
# focused_atp_rankings_for_EE = atp_rankings_for_EE[atp_rankings_for_EE['week_year']>2015]
# selected_columns = ['week_year','rank_number','player_id']
# focused_atp_rankings_for_EE = focused_atp_rankings_for_EE[selected_columns]
# focused_atp_rankings_for_EE

In [14]:
match2_rows = filtered_match2.shape[0]
print(f"The filtered merged_ATP DataFrame has {match2_rows} rows.")

The filtered merged_ATP DataFrame has 3923 rows.

In [15]:
match1_rows = matches1.shape[0]
print(f"The filtered ATP2 DataFrame has {match1_rows} rows.")

The filtered ATP2 DataFrame has 3811 rows.

In [16]:
#Joining two tables vertically
merged_matches = pd.concat([filtered_match2, matches1], ignore_index=True)

In [17]:
#verifying the merge, should be 3923 + 3811
matches_rows = merged_matches.shape[0]
print(f"The filtered merged_ATP DataFrame has {matches_rows} rows.")

The filtered merged_ATP DataFrame has 7734 rows.

Merging Player and Ranking Table
(only) adding ranking data to player table

In [18]:
players = pd.read_csv('ATP data/player_overviews_unindexed_csv.csv')

In [19]:
ranking = pd.read_csv('ATP data/rankings_1973-2017_csv.csv')

# Calculate the average ranking for each player
avg_ranking = ranking.groupby('player_id')['rank_number'].mean().reset_index()

# Merge only the 'rank_number' column back to the player_df
player_updated = pd.merge(players, avg_ranking[['player_id', 'rank_number']], on='player_id', how='left')

# Rename the new column to reflect it's the average ranking
player_updated = player_updated.rename(columns={'rank_number': 'avg_ranking'})

# Display the final DataFrame
player_updated.head()
player_updated.columns.values

/var/folders/3y/75x8knq12vvb0g4tprwmzvj40000gn/T/ipykernel_7394/3450960619.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  ranking = pd.read_csv('ATP data/rankings_1973-2017_csv.csv')

array(['player_id', 'player_slug', 'first_name', 'last_name',
       'player_url', 'flag_code', 'residence', 'birthplace', 'birthdate',
       'birth_year', 'birth_month', 'birth_day', 'turned_pro',
       'weight_lbs', 'weight_kg', 'height_ft', 'height_inches',
       'height_cm', 'handedness', 'backhand', 'avg_ranking'], dtype=object)

Merging Tournaments and Matches tables with Players table

In [20]:
## Merge 'merged_matches' and 'merged_tournaments' on 'tourney_order'
merged_df = pd.merge(merged_matches, merged_tournaments, on='tourney_order', how='inner')

In [21]:
# Merge 'merged_df' with 'player' on 'winner_player_id' and update column names for winner
merged_df = pd.merge(merged_df, player_updated, left_on='winner_player_id', right_on='player_id', how='left', suffixes=('', '_winner'))
merged_df.columns = [col if col not in player_updated.columns else f"winner_{col}" for col in merged_df.columns]

# Merge 'merged_df' with 'player' on 'loser_player_id' and update column names for loser
merged_df = pd.merge(merged_df, player_updated, left_on='loser_player_id', right_on='player_id', how='left', suffixes=('', '_loser'))
merged_df.columns = [col if col not in player_updated.columns else f"loser_{col}" for col in merged_df.columns]

In [22]:
# Drop duplicate columns (e.g., 'player_id_x', 'player_id_y')
merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]

# Display the resulting DataFrame
merged_df.head()

,tourney_order,match_id_x,match_stats_url_suffix_x,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_birth_day,loser_turned_pro,loser_weight_lbs,loser_weight_kg,loser_height_ft,loser_height_inches,loser_height_cm,loser_handedness,loser_backhand,loser_avg_ranking
0,1,2016-891-cg80-bh09,/en/scores/2016/891/MS003/match-stats,02:57:00,177.0,17.0,1.0,92.0,134.0,66.0,...,8.0,1998.0,187.0,85.0,"6'1""",73.0,185.0,Right-Handed,One-Handed Backhand,53.636274
1,1,2016-891-cg80-bh09,/en/scores/2016/891/MS003/match-stats,02:57:00,177.0,17.0,1.0,92.0,134.0,66.0,...,3.0,2011.0,180.0,82.0,"6'1""",73.0,185.0,Right-Handed,One-Handed Backhand,314.826471
2,1,2016-891-cg80-bh09,/en/scores/2016/891/MS003/match-stats,02:57:00,177.0,17.0,1.0,92.0,134.0,66.0,...,21.0,2008.0,201.0,91.0,"6'5""",77.0,196.0,Right-Handed,Two-Handed Backhand,209.870763
3,1,2016-891-cg80-bh09,/en/scores/2016/891/MS003/match-stats,02:57:00,177.0,17.0,1.0,92.0,134.0,66.0,...,16.0,2008.0,176.0,80.0,"6'3""",75.0,191.0,Right-Handed,One-Handed Backhand,194.002075
4,1,2016-891-cg80-bh09,/en/scores/2016/891/MS003/match-stats,02:57:00,177.0,17.0,1.0,92.0,134.0,66.0,...,29.0,2007.0,165.0,75.0,"5'10""",70.0,178.0,Right-Handed,Two-Handed Backhand,173.074336

In [23]:
merged_df.columns.values

array(['tourney_order', 'match_id_x', 'match_stats_url_suffix_x',
       'match_time', 'match_duration', 'winner_aces',
       'winner_double_faults', 'winner_first_serves_in',
       'winner_first_serves_total', 'winner_first_serve_points_won',
       'winner_first_serve_points_total',
       'winner_second_serve_points_won',
       'winner_second_serve_points_total', 'winner_break_points_saved',
       'winner_break_points_serve_total', 'winner_service_points_won',
       'winner_service_points_total', 'winner_first_serve_return_won',
       'winner_first_serve_return_total',
       'winner_second_serve_return_won',
       'winner_second_serve_return_total',
       'winner_break_points_converted',
       'winner_break_points_return_total', 'winner_service_games_played',
       'winner_return_games_played', 'winner_return_points_won',
       'winner_return_points_total', 'winner_total_points_won',
       'winner_total_points_total', 'loser_aces', 'loser_double_faults',
       'loser_first_serves_in', 'loser_first_serves_total',
       'loser_first_serve_points_won', 'loser_first_serve_points_total',
       'loser_second_serve_points_won', 'loser_second_serve_points_total',
       'loser_break_points_saved', 'loser_break_points_serve_total',
       'loser_service_points_won', 'loser_service_points_total',
       'loser_first_serve_return_won', 'loser_first_serve_return_total',
       'loser_second_serve_return_won', 'loser_second_serve_return_total',
       'loser_break_points_converted', 'loser_break_points_return_total',
       'loser_service_games_played', 'loser_return_games_played',
       'loser_return_points_won', 'loser_return_points_total',
       'loser_total_points_won', 'loser_total_points_total',
       'tourney_year_id', 'tourney_slug', 'tourney_url_suffix',
       'tourney_round_name', 'round_order', 'match_order', 'winner_name',
       'winner_player_id', 'winner_slug', 'loser_name', 'loser_player_id',
       'loser_slug', 'winner_seed', 'loser_seed', 'match_score_tiebreaks',
       'winner_sets_won', 'loser_sets_won', 'winner_games_won',
       'loser_games_won', 'winner_tiebreaks_won', 'loser_tiebreaks_won',
       'match_id_y', 'match_stats_url_suffix_y', 'winner_player_slug',
       'winner_first_name', 'winner_last_name', 'winner_player_url',
       'winner_flag_code', 'winner_residence', 'winner_birthplace',
       'winner_birthdate', 'winner_birth_year', 'winner_birth_month',
       'winner_birth_day', 'winner_turned_pro', 'winner_weight_lbs',
       'winner_weight_kg', 'winner_height_ft', 'winner_height_inches',
       'winner_height_cm', 'winner_handedness', 'winner_backhand',
       'winner_avg_ranking', 'loser_player_slug', 'loser_first_name',
       'loser_last_name', 'loser_player_url', 'loser_flag_code',
       'loser_residence', 'loser_birthplace', 'loser_birthdate',
       'loser_birth_year', 'loser_birth_month', 'loser_birth_day',
       'loser_turned_pro', 'loser_weight_lbs', 'loser_weight_kg',
       'loser_height_ft', 'loser_height_inches', 'loser_height_cm',
       'loser_handedness', 'loser_backhand', 'loser_avg_ranking'],
      dtype=object)

Filtering features for ATP Dataset

In [24]:
selected_columns = ['tourney_year_id','tourney_slug','tourney_round_name','winner_name','winner_flag_code', 'winner_player_id', 'loser_name','loser_flag_code', 'loser_player_id','winner_sets_won','loser_sets_won', 'loser_birth_year', 'winner_birth_year', 'loser_weight_kg','loser_height_cm', 'winner_weight_kg',	'winner_height_cm',"loser_handedness", "winner_handedness","loser_avg_ranking","winner_avg_ranking"]
ATP_features = merged_df[selected_columns]
# Display the result
ATP_features.head()

,tourney_year_id,tourney_slug,tourney_round_name,winner_name,winner_flag_code,winner_player_id,loser_name,loser_flag_code,loser_player_id,winner_sets_won,...,loser_birth_year,winner_birth_year,loser_weight_kg,loser_height_cm,winner_weight_kg,winner_height_cm,loser_handedness,winner_handedness,loser_avg_ranking,winner_avg_ranking
0,2016-339,brisbane,Finals,Milos Raonic,CAN,r975,Roger Federer,SUI,f324,2,...,1981.0,1990.0,85.0,185.0,98.0,196.0,Right-Handed,Right-Handed,53.636274,319.098646
1,2016-339,brisbane,Semi-Finals,Roger Federer,SUI,f324,Dominic Thiem,AUT,tb69,2,...,1993.0,1981.0,82.0,185.0,85.0,185.0,Right-Handed,Right-Handed,314.826471,53.636274
2,2016-339,brisbane,Semi-Finals,Milos Raonic,CAN,r975,Bernard Tomic,AUS,ta46,2,...,1992.0,1990.0,91.0,196.0,98.0,196.0,Right-Handed,Right-Handed,209.870763,319.098646
3,2016-339,brisbane,Quarter-Finals,Roger Federer,SUI,f324,Grigor Dimitrov,BUL,d875,2,...,1991.0,1981.0,80.0,191.0,85.0,185.0,Right-Handed,Right-Handed,194.002075,53.636274
4,2016-339,brisbane,Quarter-Finals,Bernard Tomic,AUS,ta46,Kei Nishikori,JPN,n552,2,...,1989.0,1992.0,75.0,178.0,91.0,196.0,Right-Handed,Right-Handed,173.074336,209.870763

**Merging Betting dataset**

In [25]:
file_2017 = 'betting/2017.xlsx'
file_2018 = 'betting/2018.xlsx'
file_2019 = 'betting/2019.xlsx'

# Read Excel files into DataFrames
df_2017 = pd.read_excel(file_2017)
df_2018 = pd.read_excel(file_2018)
df_2019 = pd.read_excel(file_2019)

In [26]:
# Remove specific columns from 2017 (not common)
columns_to_remove = ['EXW', 'EXL', 'LBW', 'LBL']

# Ensure df_2017 is defined with these columns
df_2017 = df_2017.drop(columns=columns_to_remove, errors='ignore')

col_order = ['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface', 'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'WPts', 'LPts', 'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets', 'Lsets', 'Comment', 'B365W', 'B365L', 'PSW', 'PSL', 'MaxW', 'MaxL', 'AvgW', 'AvgL']

# Reorder columns in each DataFrame
df_2017 = df_2017[col_order]
df_2018 = df_2018[col_order]
df_2019 = df_2019[col_order]

# Concatenate the DataFrames vertically
betting_merged = pd.concat([df_2017, df_2018, df_2019], ignore_index=True)

betting_merged.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,Lsets,Comment,B365W,B365L,PSW,PSL,MaxW,MaxL,AvgW,AvgL
0,1,Brisbane,Brisbane International,2017-01-01,ATP250,Outdoor,Hard,1st Round,3,Thompson J.,...,0.0,Completed,1.28,3.50,1.31,3.73,1.33,3.90,1.29,3.50
1,1,Brisbane,Brisbane International,2017-01-02,ATP250,Outdoor,Hard,1st Round,3,Mahut N.,...,1.0,Completed,1.50,2.50,1.58,2.52,1.59,2.55,1.54,2.43
2,1,Brisbane,Brisbane International,2017-01-02,ATP250,Outdoor,Hard,1st Round,3,Ferrer D.,...,0.0,Completed,1.90,1.80,2.10,1.81,2.15,1.82,2.01,1.77
3,1,Brisbane,Brisbane International,2017-01-02,ATP250,Outdoor,Hard,1st Round,3,Edmund K.,...,0.0,Completed,1.36,3.00,1.42,3.09,1.42,3.25,1.37,3.01
4,1,Brisbane,Brisbane International,2017-01-02,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,...,0.0,Completed,1.40,2.75,1.41,3.13,1.46,3.13,1.41,2.85

Merging Kaggle Data

In [27]:
kaggle1 = pd.read_csv('Kaggle_tennis_atp/atp_matches_2019_updated.csv')
kaggle2 = pd.read_csv('Kaggle_tennis_atp/atp_matches_2020_updated.csv')

In [28]:
# Concatenate the DataFrames vertically
kaggle_merged = pd.concat([kaggle1, kaggle2], ignore_index=True)

kaggle_merged.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2019-M020,Brisbane,Hard,32,A,12/31/2018,300,105453,2.0,NaN,...,54.0,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0
1,2019-M020,Brisbane,Hard,32,A,12/31/2018,299,106421,4.0,NaN,...,52.0,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0
2,2019-M020,Brisbane,Hard,32,A,12/31/2018,298,105453,2.0,NaN,...,27.0,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0
3,2019-M020,Brisbane,Hard,32,A,12/31/2018,297,104542,NaN,PR,...,60.0,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0
4,2019-M020,Brisbane,Hard,32,A,12/31/2018,296,106421,4.0,NaN,...,56.0,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0

Filtering features for Kaggle Dataset

In [29]:
selected_columns = ['tourney_id','tourney_name','surface','tourney_date','winner_id','winner_name','winner_hand','winner_ht','winner_ioc','winner_age','loser_id','loser_name','loser_hand','loser_ht','loser_ioc','loser_age','best_of','round','winner_rank','loser_rank']
kaggle_features = kaggle_merged[selected_columns]

# Display the result
kaggle_features.head()

,tourney_id,tourney_name,surface,tourney_date,winner_id,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,best_of,round,winner_rank,loser_rank
0,2019-M020,Brisbane,Hard,12/31/2018,105453,Kei Nishikori,R,178.0,JPN,29.0,106421,Daniil Medvedev,R,198.0,RUS,22.8,3,F,9.0,16.0
1,2019-M020,Brisbane,Hard,12/31/2018,106421,Daniil Medvedev,R,198.0,RUS,22.8,104542,Jo-Wilfried Tsonga,R,188.0,FRA,33.7,3,SF,16.0,239.0
2,2019-M020,Brisbane,Hard,12/31/2018,105453,Kei Nishikori,R,178.0,JPN,29.0,104871,Jeremy Chardy,R,188.0,FRA,31.8,3,SF,9.0,40.0
3,2019-M020,Brisbane,Hard,12/31/2018,104542,Jo-Wilfried Tsonga,R,188.0,FRA,33.7,200282,Alex De Minaur,R,183.0,AUS,19.8,3,QF,239.0,31.0
4,2019-M020,Brisbane,Hard,12/31/2018,106421,Daniil Medvedev,R,198.0,RUS,22.8,105683,Milos Raonic,R,196.0,CAN,28.0,3,QF,16.0,18.0

Filetring features for Betting Dataset

In [30]:
selected_columns = ['ATP','Location','Tournament','Date','Series','Court','Surface','Round','Best of','Winner','Loser','WRank','LRank']
Betting_features = betting_merged[selected_columns]

# Display the result
Betting_features.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank
0,1,Brisbane,Brisbane International,2017-01-01,ATP250,Outdoor,Hard,1st Round,3,Thompson J.,Ymer E.,79.0,160.0
1,1,Brisbane,Brisbane International,2017-01-02,ATP250,Outdoor,Hard,1st Round,3,Mahut N.,Robert S.,39.0,54.0
2,1,Brisbane,Brisbane International,2017-01-02,ATP250,Outdoor,Hard,1st Round,3,Ferrer D.,Tomic B.,21.0,26.0
3,1,Brisbane,Brisbane International,2017-01-02,ATP250,Outdoor,Hard,1st Round,3,Edmund K.,Escobedo E.,45.0,141.0
4,1,Brisbane,Brisbane International,2017-01-02,ATP250,Outdoor,Hard,1st Round,3,Dimitrov G.,Johnson S.,17.0,33.0

Filtering Date for required tables

In [31]:

# Open the  file for reading and writing
# For file atp_rankings_20s.csv

with open('Kaggle_tennis_atp/atp_rankings_20s.csv', 'r', newline='') as infile, \
     open('Kaggle_tennis_atp/atp_rankings_20s_updated.csv', 'w', newline='') as outfile:

    # Create a csv reader object
    reader = csv.reader(infile)

    # Create a csv writer object
    writer = csv.writer(outfile)

    # Read the header row
    headers = next(reader)

    # Write the headers to the output file
    writer.writerow(headers)

    # Iterate over the remaining rows
    for row in reader:
        # Convert the string in the first column to a datetime object
        date_str = row[0]
        date_obj = datetime.strptime(date_str, '%Y%m%d')

        # Format the datetime object as 'MM/DD/YYYY'
        formatted_date = date_obj.strftime('%m/%d/%Y')

        # Update the first column in the row with the formatted date
        row[0] = formatted_date

        # Write the updated row to the output file
        writer.writerow(row)

# For file atp_rankings_current.csv

with open('Kaggle_tennis_atp/atp_rankings_current.csv', 'r', newline='') as infile, \
     open('Kaggle_tennis_atp/atp_rankings_current_updated.csv', 'w', newline='') as outfile:

    # Create a csv reader object
    reader = csv.reader(infile)

    # Create a csv writer object
    writer = csv.writer(outfile)

    # Read the header row
    headers = next(reader)

    # Write the headers to the output file
    writer.writerow(headers)

    # Iterate over the remaining rows
    for row in reader:
        # Convert the string in the first column to a datetime object
        date_str = row[0]
        date_obj = datetime.strptime(date_str, '%Y%m%d')

        # Format the datetime object as 'MM/DD/YYYY'
        formatted_date = date_obj.strftime('%m/%d/%Y')

        # Update the first column in the row with the formatted date
        row[0] = formatted_date

        # Write the updated row to the output file
        writer.writerow(row)

In [32]:
def update_date_format(input_file, output_file, date_column_index):
    # Open the input and output files
    with open(input_file, 'r', newline='') as infile, \
         open(output_file, 'w', newline='') as outfile:

        # Create a csv reader object
        reader = csv.reader(infile)

        # Create a csv writer object
        writer = csv.writer(outfile)

        # Read the header row
        headers = next(reader)

        # Write the headers to the output file
        writer.writerow(headers)

        # Iterate over the remaining rows
        for row in reader:
            # Convert the string in the specified date column to a datetime object
            date_str = row[date_column_index]
            date_obj = datetime.strptime(date_str, '%Y%m%d')

            # Format the datetime object as 'MM/DD/YYYY'
            formatted_date = date_obj.strftime('%m/%d/%Y')

            # Update the specified date column in the row with the formatted date
            row[date_column_index] = formatted_date

            # Write the updated row to the output file
            writer.writerow(row)


# Update the date format in 'Kaggle_tennis_atp/atp_matches_2019.csv - 'Kaggle_tennis_atp/atp_matches_2023.csv' files

update_date_format('Kaggle_tennis_atp/atp_matches_2019.csv', 'Kaggle_tennis_atp/atp_matches_2019_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_2020.csv', 'Kaggle_tennis_atp/atp_matches_2020_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_2021.csv', 'Kaggle_tennis_atp/atp_matches_2021_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_2022.csv', 'Kaggle_tennis_atp/atp_matches_2022_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_2023.csv', 'Kaggle_tennis_atp/atp_matches_2023_updated.csv', 5)

# Update the date format in 'Kaggle_tennis_atp/atp_matches_futures_2019.csv - 'Kaggle_tennis_atp/atp_matches_futures_2023.csv' files

update_date_format('Kaggle_tennis_atp/atp_matches_futures_2019.csv', 'Kaggle_tennis_atp/atp_matches_futures_2019_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_futures_2020.csv', 'Kaggle_tennis_atp/atp_matches_futures_2020_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_futures_2021.csv', 'Kaggle_tennis_atp/atp_matches_futures_2021_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_futures_2022.csv', 'Kaggle_tennis_atp/atp_matches_futures_2022_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_futures_2023.csv', 'Kaggle_tennis_atp/atp_matches_futures_2023_updated.csv', 5)

# Update the date format in 'Kaggle_tennis_atp/atp_matches_qual_chall_2019.csv - 'Kaggle_tennis_atp/atp_matches_qual_chall_2023.csv' files

update_date_format('Kaggle_tennis_atp/atp_matches_qual_chall_2019.csv', 'Kaggle_tennis_atp/atp_matches_qual_chall_2019_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_qual_chall_2020.csv', 'Kaggle_tennis_atp/atp_matches_qual_chall_2020_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_qual_chall_2021.csv', 'Kaggle_tennis_atp/atp_matches_qual_chall_2021_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_qual_chall_2022.csv', 'Kaggle_tennis_atp/atp_matches_qual_chall_2022_updated.csv', 5)
update_date_format('Kaggle_tennis_atp/atp_matches_qual_chall_2023.csv', 'Kaggle_tennis_atp/atp_matches_qual_chall_2023_updated.csv', 5)

In [33]:
#UNION 3 DATASETS !!!!!!!!!!!!!!!!!!!!!!!!!!!!
bet = Betting_features
kag = kaggle_features
atp = ATP_features

In [34]:
# Select specific columns
selected_columns = ['Location', 'Date', 'Court', 'Surface', 'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank']
bet_focus = bet[selected_columns]
bet_focus.head()

,Location,Date,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank
0,Brisbane,2017-01-01,Outdoor,Hard,1st Round,3,Thompson J.,Ymer E.,79.0,160.0
1,Brisbane,2017-01-02,Outdoor,Hard,1st Round,3,Mahut N.,Robert S.,39.0,54.0
2,Brisbane,2017-01-02,Outdoor,Hard,1st Round,3,Ferrer D.,Tomic B.,21.0,26.0
3,Brisbane,2017-01-02,Outdoor,Hard,1st Round,3,Edmund K.,Escobedo E.,45.0,141.0
4,Brisbane,2017-01-02,Outdoor,Hard,1st Round,3,Dimitrov G.,Johnson S.,17.0,33.0

In [35]:
# fixing the date format
bet_focus['Date'] = pd.to_datetime(bet_focus['Date'])
bet_focus['Date'] = bet_focus['Date'].dt.strftime('%m/%d/%Y')
bet_focus

/var/folders/3y/75x8knq12vvb0g4tprwmzvj40000gn/T/ipykernel_7394/3223295128.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bet_focus['Date'] = pd.to_datetime(bet_focus['Date'])
/var/folders/3y/75x8knq12vvb0g4tprwmzvj40000gn/T/ipykernel_7394/3223295128.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bet_focus['Date'] = bet_focus['Date'].dt.strftime('%m/%d/%Y')

,Location,Date,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank
0,Brisbane,01/01/2017,Outdoor,Hard,1st Round,3,Thompson J.,Ymer E.,79.0,160.0
1,Brisbane,01/02/2017,Outdoor,Hard,1st Round,3,Mahut N.,Robert S.,39.0,54.0
2,Brisbane,01/02/2017,Outdoor,Hard,1st Round,3,Ferrer D.,Tomic B.,21.0,26.0
3,Brisbane,01/02/2017,Outdoor,Hard,1st Round,3,Edmund K.,Escobedo E.,45.0,141.0
4,Brisbane,01/02/2017,Outdoor,Hard,1st Round,3,Dimitrov G.,Johnson S.,17.0,33.0
...,...,...,...,...,...,...,...,...,...,...
7875,London,11/15/2019,Indoor,Hard,Round Robin,3,Nadal R.,Tsitsipas S.,1.0,6.0
7876,London,11/15/2019,Indoor,Hard,Round Robin,3,Zverev A.,Medvedev D.,7.0,4.0
7877,London,11/16/2019,Indoor,Hard,Semifinals,3,Tsitsipas S.,Federer R.,6.0,3.0
7878,London,11/16/2019,Indoor,Hard,Semifinals,3,Thiem D.,Zverev A.,5.0,7.0
7879,London,11/17/2019,Indoor,Hard,The Final,3,Tsitsipas S.,Thiem D.,6.0,5.0

In [36]:
# Select specific columns
selected_columns = ['tourney_name', 'surface', 'tourney_date',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc',
       'winner_age', 'loser_name', 'loser_hand', 'loser_ht',
       'loser_ioc', 'loser_age', 'best_of', 'round', 'winner_rank',
       'loser_rank']
kag_focus = kag[selected_columns]
kag_focus = kag_focus.rename(columns = {'tourney_name': 'Location',
                                        'surface': 'Surface',
                                        'tourney_date': 'Date',
                                        'winner_name': 'Winner',
                                        'winner_hand': 'W_hand',
                                        'winner_ht': 'W_ht',
                                        'winner_ioc': 'W_nationality',
                                        'winner_age': 'W_age', 
                                        'loser_name': 'Loser',
                                        'loser_hand': 'L_hand',
                                        'loser_ht': 'L_ht',
                                        'loser_ioc': 'L_nationality',
                                        'loser_age': 'L_age',
                                        'best_of': 'Best of',
                                        'round': 'Round',
                                        'winner_rank': 'WRank',
                                        'loser_rank': 'LRank'})
kag_focus['Date'] = pd.to_datetime(kag_focus['Date'])
kag_focus['Date'] = kag_focus['Date'].dt.strftime('%m/%d/%Y')
kag_focus.head()

,Location,Surface,Date,Winner,W_hand,W_ht,W_nationality,W_age,Loser,L_hand,L_ht,L_nationality,L_age,Best of,Round,WRank,LRank
0,Brisbane,Hard,12/31/2018,Kei Nishikori,R,178.0,JPN,29.0,Daniil Medvedev,R,198.0,RUS,22.8,3,F,9.0,16.0
1,Brisbane,Hard,12/31/2018,Daniil Medvedev,R,198.0,RUS,22.8,Jo-Wilfried Tsonga,R,188.0,FRA,33.7,3,SF,16.0,239.0
2,Brisbane,Hard,12/31/2018,Kei Nishikori,R,178.0,JPN,29.0,Jeremy Chardy,R,188.0,FRA,31.8,3,SF,9.0,40.0
3,Brisbane,Hard,12/31/2018,Jo-Wilfried Tsonga,R,188.0,FRA,33.7,Alex De Minaur,R,183.0,AUS,19.8,3,QF,239.0,31.0
4,Brisbane,Hard,12/31/2018,Daniil Medvedev,R,198.0,RUS,22.8,Milos Raonic,R,196.0,CAN,28.0,3,QF,16.0,18.0

In [37]:
kag_focus.style.format({"Date": lambda t: t.strftime("%m/%d/%Y")})
kag_focus.head()

,Location,Surface,Date,Winner,W_hand,W_ht,W_nationality,W_age,Loser,L_hand,L_ht,L_nationality,L_age,Best of,Round,WRank,LRank
0,Brisbane,Hard,12/31/2018,Kei Nishikori,R,178.0,JPN,29.0,Daniil Medvedev,R,198.0,RUS,22.8,3,F,9.0,16.0
1,Brisbane,Hard,12/31/2018,Daniil Medvedev,R,198.0,RUS,22.8,Jo-Wilfried Tsonga,R,188.0,FRA,33.7,3,SF,16.0,239.0
2,Brisbane,Hard,12/31/2018,Kei Nishikori,R,178.0,JPN,29.0,Jeremy Chardy,R,188.0,FRA,31.8,3,SF,9.0,40.0
3,Brisbane,Hard,12/31/2018,Jo-Wilfried Tsonga,R,188.0,FRA,33.7,Alex De Minaur,R,183.0,AUS,19.8,3,QF,239.0,31.0
4,Brisbane,Hard,12/31/2018,Daniil Medvedev,R,198.0,RUS,22.8,Milos Raonic,R,196.0,CAN,28.0,3,QF,16.0,18.0

In [38]:
# Select specific columns
selected_columns = ["tourney_year_id",'tourney_slug', 'tourney_round_name',
       'winner_name', 'winner_flag_code', 'loser_name',
       'loser_flag_code', 'loser_birth_year', 'winner_birth_year',
       'loser_weight_kg', 'loser_height_cm', 'winner_weight_kg',
       'winner_height_cm', 'loser_handedness', 'winner_handedness',"loser_avg_ranking","winner_avg_ranking" ]
atp_focus = atp[selected_columns]
atp_focus = atp_focus.rename(columns = {'tourney_slug': 'Location',
                                        'surface': 'Surface',
                                        'tourney_year_id': 'Date',
                                        'winner_name': 'Winner',
                                        'winner_handedness': 'W_hand',
                                        'winner_height_cm': 'W_ht',
                                        'winner_weight_kg': 'W_wt',
                                        'winner_flag_code': 'W_nationality',
                                        'winner_birth_year': 'W_age', 
                                        'loser_name': 'Loser',
                                        'loser_handedness': 'L_hand',
                                        'loser_height_cm': 'L_ht',
                                        'loser_weight_kg': 'L_wt',
                                        'loser_flag_code': 'L_nationality',
                                        'loser_birth_year': 'L_age',
                                        'best_of': 'Best of',
                                        'tourney_round_name': 'Round',
                                        'winner_avg_ranking': 'WRank',
                                        'loser_avg_ranking': 'LRank'})
atp_focus.head()

,Date,Location,Round,Winner,W_nationality,Loser,L_nationality,L_age,W_age,L_wt,L_ht,W_wt,W_ht,L_hand,W_hand,LRank,WRank
0,2016-339,brisbane,Finals,Milos Raonic,CAN,Roger Federer,SUI,1981.0,1990.0,85.0,185.0,98.0,196.0,Right-Handed,Right-Handed,53.636274,319.098646
1,2016-339,brisbane,Semi-Finals,Roger Federer,SUI,Dominic Thiem,AUT,1993.0,1981.0,82.0,185.0,85.0,185.0,Right-Handed,Right-Handed,314.826471,53.636274
2,2016-339,brisbane,Semi-Finals,Milos Raonic,CAN,Bernard Tomic,AUS,1992.0,1990.0,91.0,196.0,98.0,196.0,Right-Handed,Right-Handed,209.870763,319.098646
3,2016-339,brisbane,Quarter-Finals,Roger Federer,SUI,Grigor Dimitrov,BUL,1991.0,1981.0,80.0,191.0,85.0,185.0,Right-Handed,Right-Handed,194.002075,53.636274
4,2016-339,brisbane,Quarter-Finals,Bernard Tomic,AUS,Kei Nishikori,JPN,1989.0,1992.0,75.0,178.0,91.0,196.0,Right-Handed,Right-Handed,173.074336,209.870763

In [39]:
# simplifying the date to just the year for ATP since there is no exact date
for i in range(2016,2018):
    atp_focus["Date"] = atp_focus["Date"].str.replace('.*'+str(i)+'.*', str(i), regex=True)
atp_focus.head()

,Date,Location,Round,Winner,W_nationality,Loser,L_nationality,L_age,W_age,L_wt,L_ht,W_wt,W_ht,L_hand,W_hand,LRank,WRank
0,2016,brisbane,Finals,Milos Raonic,CAN,Roger Federer,SUI,1981.0,1990.0,85.0,185.0,98.0,196.0,Right-Handed,Right-Handed,53.636274,319.098646
1,2016,brisbane,Semi-Finals,Roger Federer,SUI,Dominic Thiem,AUT,1993.0,1981.0,82.0,185.0,85.0,185.0,Right-Handed,Right-Handed,314.826471,53.636274
2,2016,brisbane,Semi-Finals,Milos Raonic,CAN,Bernard Tomic,AUS,1992.0,1990.0,91.0,196.0,98.0,196.0,Right-Handed,Right-Handed,209.870763,319.098646
3,2016,brisbane,Quarter-Finals,Roger Federer,SUI,Grigor Dimitrov,BUL,1991.0,1981.0,80.0,191.0,85.0,185.0,Right-Handed,Right-Handed,194.002075,53.636274
4,2016,brisbane,Quarter-Finals,Bernard Tomic,AUS,Kei Nishikori,JPN,1989.0,1992.0,75.0,178.0,91.0,196.0,Right-Handed,Right-Handed,173.074336,209.870763

In [40]:
atp_focus['Date'] = pd.to_datetime(atp_focus['Date'])
atp_focus['Date'] = atp_focus['Date'].dt.strftime('%m/%d/%Y')
atp_focus.head()

,Date,Location,Round,Winner,W_nationality,Loser,L_nationality,L_age,W_age,L_wt,L_ht,W_wt,W_ht,L_hand,W_hand,LRank,WRank
0,01/01/2016,brisbane,Finals,Milos Raonic,CAN,Roger Federer,SUI,1981.0,1990.0,85.0,185.0,98.0,196.0,Right-Handed,Right-Handed,53.636274,319.098646
1,01/01/2016,brisbane,Semi-Finals,Roger Federer,SUI,Dominic Thiem,AUT,1993.0,1981.0,82.0,185.0,85.0,185.0,Right-Handed,Right-Handed,314.826471,53.636274
2,01/01/2016,brisbane,Semi-Finals,Milos Raonic,CAN,Bernard Tomic,AUS,1992.0,1990.0,91.0,196.0,98.0,196.0,Right-Handed,Right-Handed,209.870763,319.098646
3,01/01/2016,brisbane,Quarter-Finals,Roger Federer,SUI,Grigor Dimitrov,BUL,1991.0,1981.0,80.0,191.0,85.0,185.0,Right-Handed,Right-Handed,194.002075,53.636274
4,01/01/2016,brisbane,Quarter-Finals,Bernard Tomic,AUS,Kei Nishikori,JPN,1989.0,1992.0,75.0,178.0,91.0,196.0,Right-Handed,Right-Handed,173.074336,209.870763

In [41]:
frames = [bet_focus, kag_focus, atp_focus]
 
result = pd.concat(frames)
result.shape[0]
#result.to_csv("cleaned_and_compiled_data_WITH_NULL_VALUES.csv")

912930

In [42]:
df=pd.read_csv("cleaned_and_compiled_data_WITH_NULL_VALUES.csv")

In [43]:
null_values = df.isnull().sum()
print("Null Values:")
print(null_values)

Null Values:
Unnamed: 0           0
Location             0
Date                 0
Court            12042
Surface           7774
Round                0
Best of           7774
Winner               0
Loser                0
WRank               60
LRank              206
W_hand            8036
W_ht              8012
W_nationality     7914
W_age             7915
L_hand            8271
L_ht              8275
L_nationality     7978
L_age             7983
L_wt             12433
W_wt             12250
dtype: int64

In [44]:
df['WRank'].fillna(-1, inplace=True)  # Replace with -1 or another value indicating unknown rank
df['LRank'].fillna(-1, inplace=True)  # Replace with -1 or another value indicating unknown rank
df['W_nationality'].fillna('Unknown', inplace=True)  # Replace with 'Unknown' or another category indicating unknown nationality
df['L_nationality'].fillna('Unknown', inplace=True)  # Replace with 'Unknown' or another category indicating unknown nationality

In [45]:
hand_mapping = {
    'R': 'R',
    'Right-Handed': 'R',
    'L': 'L',
    'Left-Handed': 'L',
    'U': 'U'  # 'U' represents an unknown
}
df['W_hand'] = df['W_hand'].fillna('U')
# Apply the mapping to the 'W_hand' column
df['W_hand'] = df['W_hand'].map(hand_mapping)
unique_values_w_hand = df['W_hand'].unique()
unique_values_w_hand

array(['U', 'R', 'L'], dtype=object)

In [46]:
hand_mapping = {
    'R': 'R',
    'Right-Handed': 'R',
    'L': 'L',
    'Left-Handed': 'L',
    'U': 'U'  # 'U' represents an unknown
}
df['L_hand'] = df['L_hand'].fillna('U')
# Apply the mapping to the 'W_hand' column
df['L_hand'] = df['L_hand'].map(hand_mapping)
unique_values_l_hand = df['L_hand'].unique()
unique_values_l_hand

array(['U', 'R', 'L'], dtype=object)

In [47]:
unique_values = df['Round'].unique()
unique_values

array(['1st Round', '2nd Round', 'Quarterfinals', 'Semifinals',
       'The Final', '3rd Round', '4th Round', 'Round Robin', 'F', 'SF',
       'QF', 'R16', 'R32', 'R64', 'R128', 'RR', 'Finals', 'Semi-Finals',
       'Quarter-Finals', 'Round of 16', 'Round of 32',
       '2nd Round Qualifying', '1st Round Qualifying', 'Round of 64',
       'Round of 128', '3rd Round Qualifying', 'Olympic Bronze'],
      dtype=object)

In [48]:
# Map different representations to a consistent format for the 'Round' column
round_mapping = {
    '1st Round': '1st Round',
    '2nd Round': '2nd Round',
    'Quarterfinals': 'Quarterfinals',
    'Semifinals': 'Semifinals',
    'The Final': 'The Final',
    '3rd Round': '3rd Round',
    '4th Round': '4th Round',
    'Round Robin': 'Round Robin',
    'F': 'The Final',
    'SF': 'Semifinals',
    'QF': 'Quarterfinals',
    'R16': 'Round of 16',
    'R32': 'Round of 32',
    'R64': 'Round of 64',
    'R128': 'Round of 128',
    'RR': 'Round Robin',
    'Finals': 'The Final',
    'Semi-Finals': 'Semifinals',
    'Quarter-Finals': 'Quarterfinals',
    'Round of 16': 'Round of 16',
    'Round of 32': 'Round of 32',
    '2nd Round Qualifying': '2nd Round Qualifying',
    '1st Round Qualifying': '1st Round Qualifying',
    'Round of 64': 'Round of 64',
    'Round of 128': 'Round of 128',
    '3rd Round Qualifying': '3rd Round Qualifying',
    'Olympic Bronze': 'Olympic Bronze'
}

# Apply the mapping to the 'Round' column
df['Round'] = df['Round'].map(round_mapping)

# Verify the changes
unique_values_round = df['Round'].unique()
print("Unique values in 'Round' column after mapping:")
print(unique_values_round)

Unique values in 'Round' column after mapping:
['1st Round' '2nd Round' 'Quarterfinals' 'Semifinals' 'The Final'
 '3rd Round' '4th Round' 'Round Robin' 'Round of 16' 'Round of 32'
 'Round of 64' 'Round of 128' '2nd Round Qualifying'
 '1st Round Qualifying' '3rd Round Qualifying' 'Olympic Bronze']

In [49]:
df['W_age'] = pd.to_numeric(df['W_age'], errors='coerce')
current_year = 2024
df['W_age'] = np.where(df['W_age'] > 100, current_year - df['W_age'], df['W_age'])
median_age = df['W_age'].median()
df['W_age'].fillna(median_age, inplace=True)
unique_values = df['W_age'].unique()
unique_values

array([33. , 29. , 22.8, 33.7, 31.8, 19.8, 28. , 26.4, 27.6, 24.6, 31.6,
       19.3, 23.6, 29.5, 26.3, 30.7, 33.2, 26.2, 26.8, 28.5, 27.7, 21.1,
       23.2, 35.5, 28.6, 35.1, 23.5, 32.6, 39.8, 34. , 34.8, 21.6, 29.6,
       34.9, 30.3, 24.8, 25.4, 20.9, 24.1, 27.4, 23.3, 28.7, 35.2, 29.7,
       36.7, 31.7, 22.7, 20.5, 29.4, 20.4, 24.7, 21.2, 26.9, 31.2, 21.3,
       19.4, 27.5, 33.3, 22.9, 27.8, 30.2, 26. , 37.4, 19.9, 25.9, 21.7,
       25.3, 22.6, 22.1, 28.1, 19.7, 32.3, 32.9, 27. , 26.7, 28.2, 26.6,
       31.9, 23.7, 29.1, 31.1, 28.3, 23.8, 35. , 31. , 25.8, 33.8, 29.2,
       33.6, 30.4, 24.9, 32.8, 32.4, 30.8, 31.5, 33.1, 29.8, 36.8, 21.4,
       31.3, 35.6, 37.1, 23. , 33.4, 30.6, 35.7, 21.9, 20.6, 34.1, 22. ,
       25. , 18.5, 20.1, 25.6, 25.5, 23.4, 21.8, 33.9, 20. , 32.7, 21. ,
       26.5, 36.9, 37.5, 22.2, 28.8, 18.9, 32.5, 19.5, 35.3, 40. , 29.3,
       31.4, 26.1, 22.3, 37.6, 18.6, 30.9, 28.4, 32. , 29.9, 21.5, 34.7,
       23.9, 20.2, 35.8, 34.2, 25.7, 24.2, 35.4, 23.1, 22.4, 28.9, 27.9,
       27.1, 37. , 18.7, 24. , 27.2, 19. , 30.5, 17.6, 20.7, 30. , 32.2,
       37.7, 25.1, 20.3, 17.7, 30.1, 20.8, 34.4, 22.5, 24.3, 25.2, 40.2,
       37.3, 32.1, 18.8, 34.5, 27.3, 37.8, 24.4, 40.3, 17.9, 33.5, 24.5,
       34.3, 38. , 37.9, 34.6, 19.1, 38.1, 18.1, 19.6, 40.6, 35.9, 38.2,
       36. , 18.4, 18. , 16.3, 17.5, 18.2, 36.1, 38.3, 40.8, 38.4, 36.2,
       16.7, 36.3, 38.9, 36.6, 39.1, 19.2, 39.9, 16.8, 36.5, 17.1, 15.8,
       16.6, 39. , 43. , 46. , 41. , 42. , 44. , 45. , 48. ])

In [50]:
df['L_age'] = pd.to_numeric(df['L_age'], errors='coerce')
current_year = 2024
df['L_age'] = np.where(df['L_age'] > 100, current_year - df['L_age'], df['L_age'])
median_age = df['L_age'].median()
df['L_age'].fillna(median_age, inplace=True)
unique_values = df['L_age'].unique()
unique_values

array([33. , 22.8, 33.7, 31.8, 19.8, 28. , 26.4, 27.6, 25.9, 24.6, 31.6,
       19.3, 23.6, 23.9, 29.5, 26.3, 22.7, 19.4, 26.9, 29.4, 26.6, 28.6,
       20.5, 23.2, 27.4, 21.1, 33.2, 26.2, 26.8, 28.5, 27.7, 35.5, 35.1,
       23.5, 28.2, 34.8, 30.9, 22.6, 31.7, 23.7, 30.5, 23.3, 32.9, 37. ,
       35.2, 25.3, 39.8, 34. , 21.6, 29.6, 34.9, 30.3, 24.8, 25.4, 20.9,
       24.1, 24.9, 32.3, 29.1, 21.8, 23.1, 24.5, 25.7, 32.7, 18.3, 28.7,
       29.7, 36.7, 19.7, 29. , 28.3, 20.4, 24.7, 21.2, 31.2, 21.3, 31.1,
       31.9, 32.6, 37.4, 21.7, 30.2, 22.1, 24. , 22.9, 28.1, 30.7, 27.5,
       19.9, 25. , 23. , 18.2, 27. , 33.6, 26.7, 30.6, 26. , 25.6, 33.3,
       27.8, 34.5, 28.4, 31. , 25.8, 31.3, 25.5, 21.9, 21. , 37.3, 35.6,
       23.8, 35. , 28.9, 36. , 18.9, 37.1, 23.4, 29.3, 29.2, 30.4, 34.1,
       32.8, 35.3, 20.6, 39.9, 32.4, 30.8, 31.5, 33.8, 17.7, 27.1, 33.1,
       29.8, 36.8, 18.5, 19.5, 24.2, 33.4, 27.9, 21.4, 35.7, 22.3, 20.8,
       22. , 22.2, 32. , 26.5, 20.1, 33.9, 20. , 36.9, 17.2, 28.8, 29.9,
       37.5, 32.5, 40. , 31.4, 26.1, 21.5, 18.6, 34.7, 34.2, 20.2, 17.6,
       20.7, 35.8, 32.1, 40.1, 35.4, 36.1, 22.4, 30. , 19.6, 25.1, 18.7,
       27.2, 19. , 34.3, 32.2, 24.3, 37.7, 20.3, 30.1, 25.2, 37.6, 22.5,
       35.9, 34.4, 40.2, 17.8, 18.8, 27.3, 24.4, 40.3, 37.8, 33.5, 17.9,
       37.2, 40.4, 34.6, 38. , 37.9, 18. , 16.7, 36.2, 19.1, 38.1, 18.1,
       40.6, 17.1, 38.2, 19.2, 15.3, 15.2, 18.4, 16.3, 39.6, 38.3, 36.4,
       40.8, 38.4, 40.9, 36.3, 36.5, 38.7, 38.9, 41.5, 39. , 36.6, 39.1,
       16.8, 16.1, 43. , 46. , 42. , 41. , 44. , 45. , 48. , 47. ])

In [51]:
columns_with_missing_values = ['W_ht', 'L_ht', 'L_wt', 'W_wt']

for col in columns_with_missing_values:
    median_value = df[col].median()
    df[col].fillna(median_value, inplace=True)

In [52]:
df.drop(columns=['Court', 'Surface', 'Best of'], inplace=True)

In [53]:
df.head()

,Unnamed: 0,Location,Date,Round,Winner,Loser,WRank,LRank,W_hand,W_ht,W_nationality,W_age,L_hand,L_ht,L_nationality,L_age,L_wt,W_wt
0,0,Brisbane,01/01/2017,1st Round,Thompson J.,Ymer E.,79.0,160.0,U,185.0,Unknown,33.0,U,185.0,Unknown,33.0,80.0,80.0
1,1,Brisbane,01/02/2017,1st Round,Mahut N.,Robert S.,39.0,54.0,U,185.0,Unknown,33.0,U,185.0,Unknown,33.0,80.0,80.0
2,2,Brisbane,01/02/2017,1st Round,Ferrer D.,Tomic B.,21.0,26.0,U,185.0,Unknown,33.0,U,185.0,Unknown,33.0,80.0,80.0
3,3,Brisbane,01/02/2017,1st Round,Edmund K.,Escobedo E.,45.0,141.0,U,185.0,Unknown,33.0,U,185.0,Unknown,33.0,80.0,80.0
4,4,Brisbane,01/02/2017,1st Round,Dimitrov G.,Johnson S.,17.0,33.0,U,185.0,Unknown,33.0,U,185.0,Unknown,33.0,80.0,80.0

In [54]:
z_scores = np.abs(stats.zscore(df.select_dtypes(include=[np.number])))
outliers = np.where(z_scores > 30)
df.loc[list(outliers[0])].iloc[0]

Unnamed: 0                       1746
Location                       geneva
Date                       01/01/2016
Round            1st Round Qualifying
Winner                 Evgeny Donskoy
Loser               Manuel Pena Lopez
WRank                      278.097166
LRank                      1282.04717
W_hand                              R
W_ht                            185.0
W_nationality                     RUS
W_age                            34.0
L_hand                              R
L_ht                            180.0
L_nationality                     ARG
L_age                            26.0
L_wt                            675.0
W_wt                             74.0
Name: 13894, dtype: object

In [55]:
print("Outliers:")
print((list(zip(outliers[0], outliers[1]))))

Outliers:
[(13894, 7), (16682, 7)]

In [56]:
duplicate_rows = df[df.duplicated()]

# Display duplicate rows, if any
if len(duplicate_rows) > 0:
    print("Duplicate rows found:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.